<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body style="background-color: #2D6790;">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    <h1 style="color: white;">Login</h1>

    <form action="/login_geral" method="POST">
        <p><b>Escolha uma opção: </b></p>
        Aluno <input type="radio" name="categoria" value="aluno" required> <br/>
        Professor <input type="radio" name="categoria" value="professor" required> <br/>
        Gestor <input type="radio" name="categoria" value="gestor" required> <br/><br/>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br><br>

        <button type="submit">Entrar</button>
    </form>
</body>
</html>
