/* Fonte Figtree */
@font-face {
    font-family: 'Figtree';
    src: url('/static/fonts/figtree-Regular.woff2') format('woff2'),
         url('/static/fonts/figtree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    html, body {
        height: 100%;
    }
    
    font-family: 'Figtree', sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #ffffff);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2A7EBA;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 25px;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    background-color: #f8f8f8;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: #d9eaf7;
    color: black;
    transform: scale(1.02);
}

a {
    color: #2A7EBA;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #2A7EBA;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.back-button:hover {
    background-color: #0e3c5d;
    color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.back-button:active {
    background-color: #0a2b44;
}


.btn-cadastrar {
    display: block;
    margin: 20px auto;
    background-color: #2A7EBA;
    border: none;
    color: white;
    font-size: 16px;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
}

.btn-cadastrar:hover {
    background-color: #0e3c5d;
}


/* Modal */
.modal-dialog {
    max-width: 500px;
    width: 100%; 
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
}

.modal-content {
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.modal-header {
    background-color: #2A7EBA;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 18px;
    font-weight: 600;
}

.modal-body {
    font-size: 16px;
    padding: 25px 20px;
}

.modal-footer {
    background-color: #f8f8f8;
    padding: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: flex-end;
}

.modal-footer .btn {
    background-color: #2A7EBA;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
}

.modal-footer .btn:hover {
    background-color: #0e3c5d;
}

.modal-footer .btn:active {
    background-color: #103148;
}

/* Form Control */
.form-control {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    background: #f0f0f0;
    transition: all 0.3s;
}

.form-control:focus {
    border-color: #2A7EBA;
    box-shadow: 0 0 5px rgba(42, 126, 186, 0.5);
}
