@font-face {
    font-family: 'Figtree';
    src: url('/static/fonts/Figtree-Regular.ttf') format('truetype'),
         url('/static/fonts/Figtree-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    background: linear-gradient(45deg, #ffffff, #2A7EBA, #0e3c5d, #051034);
    background-size: 400% 400%;
    animation: backgroundAnimation 10s ease-in-out infinite;
    font-family: 'Figtree', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    color: #2A7EBA;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    font-size: 1.2rem;
    border-radius: 50px;
    background-color: #2A7EBA;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    width: 60%;
}

.btn-custom:hover {
    background-color: #082b40;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.btn-custom:active {
    transform: translateY(2px);
    box-shadow: none;
}

#InsightEdu {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    .container {
        padding: 30px;
    }
    .btn-custom {
        font-size: 1.1rem;
        padding: 10px 20px;
    }
    #InsightEdu {
        width: 70%;
        max-width: 250px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }
    .container {
        padding: 20px;
    }
    .btn-custom {
        font-size: 1rem;
        padding: 10px 18px;
    }
    #InsightEdu {
        width: 60%;
        max-width: 200px;
    }
}
