<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliações</title>
</head>
<body>
    <h1>
        <ul>
            {% for av in avaliacoes %}
            <li>
                <a href="{{ url_for('avaliacao', av_id=av.av_id)}}">
                    {{av.av_id}} {{av.serie}} {{av.bimestre}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </h1>

</body>
</html>