<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliacao</title>
</head>
<body>
    <h1>
        Detalhes:
        <p>serie: {{avaliacao.serie}}</p>
    
        <p>bimestre: {{avaliacao.bimestre}}</p>

        <p>data: {{avaliacao.data_aplicacao}}</p>

        <p>materia: {{materia}}</p>
    </h1>

    <h2>Alunos da Turma</h2>
    <form action="{{ url_for('cadastro_notas', av_id=avaliacao.av_id) }}", method="POST">
        <ul>
            {% for aluno in alunos %}
            <li>{{ aluno.nome }} - {{ aluno.al_id }}</li>
            <!-- <label for="cpf" class="form-label">CPF</label> -->
            <input type="text" class="form-control" id="nota_{{ aluno.al_id }}" name="nota_{{ aluno.al_id }}" required>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </ul>
    </form>
</body>
</html>