<footer>
    <p>&copy; 2025 InsightEdu - Todos os direitos reservados</p>
</footer>

<style>
    footer {
        background-color: #ffffff;
        color: rgb(38, 38, 38);
        padding: 15px 0;
        text-align: center;
        font-size: 14px;
        width: 100%;
        position: relative;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        
    }

    .content {
        flex: 1; 
    }
</style>
