<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Lista de Alunos - Turma {{ turma }}</h1>
    
    <ul>
        {% for aluno in alunos %}
            <a href="{{ url_for('perfil_aluno', aluno_id=aluno.al_id, serie=turma.serie)}}">{{ aluno }}</a>
        {% endfor %}

    </ul>
    <li><a href="{{ url_for('turmas') }}">Listar Turmas</a></li>
    <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='Português')}}">
    <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='Matemática')}}">
    <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='Ciências')}}">
    <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='História')}}">
    <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='Geografia')}}">
</body>
</html>
