<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4 text-center">Lista de Alunos - Turma {{ turma }}</h1>

    <ul class="list-group mb-4">
        {% for aluno in alunos %}
        <li class="list-group-item">
            <a href="{{ url_for('perfil_aluno', aluno_id=aluno.al_id) }}" class="d-block">
                {{ aluno }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('turmas') }}" class="btn btn-secondary mb-4">Listar Turmas</a>

    <h3>Gráficos das Médias por Matéria</h3>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='Português') }}" class="img-fluid" alt="Média Português">
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='Matemática') }}" class="img-fluid" alt="Média Matemática">
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='Ciências') }}" class="img-fluid" alt="Média Ciências">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='História') }}" class="img-fluid" alt="Média História">
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('plot_class_matters_average', turma_id=turma.tur_id, materia='Geografia') }}" class="img-fluid" alt="Média Geografia">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
