
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Login</title>
</head>

<body>

<div class="img">
<img src="../static/LOGO.png" alt="InsightEdu" style="height: 50px;">
</div>
    <form action="/login" method="POST">
        
        <div class="category-buttons">
            <button type="button" class="selected" onclick="selectCategory(this, 'aluno')">Aluno</button>
            <button type="button" onclick="selectCategory(this, 'coordenador')">Coordenador</button>
            <button type="button" onclick="selectCategory(this, 'gestor')">Gestor</button>
            <button type="button" onclick="selectCategory(this, 'professor')">Professor</button>
        </div>
        <input type="hidden" name="categoria" id="categoria" value="aluno">

        <div class="login">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required placeholder="ID"><br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required placeholder="Senha"><br>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert {{ 'alert-success' if 'sucesso' in message else 'alert-danger' }}">{{ message }}</li>
            {% endfor %}
            </ul>
    
            <script>
                setTimeout(function() {
                    const messageBox = document.getElementById('messages');
                    if (messageBox) {
                        messageBox.style.display = 'none';
                    }
                }, 5000);
            </script>
        {% endif %}
    {% endwith %}
    
    
        <button type="submit">Entrar</button>
    </form>

    <script>
        function selectCategory(element, category) {
            document.querySelectorAll('.category-buttons button').forEach(btn => {
                btn.classList.remove('selected');
            });
            element.classList.add('selected');
            document.getElementById('categoria').value = category;
        }
    </script>
</body>
</html>