<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Aluno</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Perfil do Aluno</h1>
    
    <div class="perfil">
        <p><b>Nome:</b> {{ aluno.nome }}</p>
        <p><b>Idade:</b> {{ aluno.idade }}</p>
        <p><b>Turma:</b> {{ aluno.turma }}</p>
        <p><b>Email:</b> {{ aluno.email }}</p>
    </div>
    
    <a href="/">Voltar para a página inicial</a>
</body>
</html>
