<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do(a) {{professor.nome}}</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Perfil do(a) {{professor.nome}}</h1>
    
        <p><b>Nome:</b> {{ professor.nome }}</p>
        <p><b>UF:</b> {{ professor.uf }}</p>
        <p><b>Email:</b> {{ professor.email }}</p>

    <a href="/">Voltar para a página inicial</a>
</body>
</html>