<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do(a) Coordenador(a) {{coordenador.nome}}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <a class="back-button" href="{{ url_for('lista_coordenadores') }}">⬅</a>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="text-primary">Perfil do(a) Coordenador(a) {{coordenador.nome}}</h1>
        </div>
        
        <div class="card shadow-sm p-4 mt-4">
            <div class="card-body">
                <h4 class="card-title text-primary">Informações do Coordenador(a)</h4>
                <p><strong>Nome:</strong> {{ coordenador.nome }}</p>
                <p><strong>Data de Nascimento:</strong> {{ coordenador.data_nascimento }}</p>
                <p><strong>Email:</strong> {{ coordenador.email }}</p>
                <p><strong>CPF:</strong> {{ coordenador.cpf }}</p>
                <p><strong>Idade:</strong> {{ coordenador.idade }}</p>
                <p><strong>UF:</strong> {{ coordenador.uf }}</p>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
