<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Aluno</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='perfil_aluno.css') }}">

</head>
<body>
  <a class="back-button" href="{{ url_for('home') }}">⬅</a>
  <div class="container mt-4">

    <div class="text-center mb-4">
      <h1 class="display-4 text-primary">Perfil do Aluno</h1>
    </div>

    <div class="card shadow-sm p-4 mb-4">
      <div class="card-body">
        <h5 class="card-title text-primary">Informações do Aluno</h5>
        <p><strong>Nome:</strong> {{ aluno.nome }}</p>
        <p><strong>Idade:</strong> {{ aluno.idade }}</p>
        <p><strong>Turma:</strong> {{ turma.serie }}° Ano - {{ turma.letra }}</p>
        <p><strong>Email:</strong> {{ aluno.email }}</p>
      </div>
    </div>

    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
      {% for serie, materias in notas.items() %}
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if serie == serie_selecionada or (not serie_selecionada and loop.first) %}active{% endif %}"
           id="pills-{{ serie }}-tab"
           href="{{ url_for('perfil_aluno', aluno_id=aluno.al_id) }}?serie={{ serie }}"
           role="tab"
           aria-controls="pills-{{ serie }}"
           aria-selected="{% if serie == serie_selecionada or (not serie_selecionada and loop.first) %}true{% else %}false{% endif %}">
          Série: {{ serie }}
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content" id="pills-tabContent">
      {% for serie, materias in notas.items() %}
      <div class="tab-pane {% if serie == serie_selecionada or (not serie_selecionada and loop.first) %}show active{% endif %}"
           id="pills-{{ serie }}"
           role="tabpanel"
           aria-labelledby="pills-{{ serie }}-tab">
        <h3 class="mb-3">Notas da série: {{ serie }}</h3>
        <table class="table table-bordered table-striped">
          <thead class="table-light">
            <tr>
              <th scope="col">Matéria</th>
              <th scope="col">1º Bimestre</th>
              <th scope="col">2º Bimestre</th>
              <th scope="col">3º Bimestre</th>
              <th scope="col">4º Bimestre</th>
            </tr>
          </thead>
          <tbody>
            {% for materia, bimestres in materias.items() %}
            <tr>
              <td>{{ materia }}</td>
              <td>{{ bimestres['1 bim'] }}</td>
              <td>{{ bimestres['2 bim'] }}</td>
              <td>{{ bimestres['3 bim'] }}</td>
              <td>{{ bimestres['4 bim'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>

    <img id="student-first" src="{{ url_for('plot_student_matters_average', al_id=aluno.al_id) }}">


    <div class="text-center mt-4">

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/dist/js/bootstrap.min.js"></script>


    <img id="student-performance-image" src="{{ url_for('plot_student_performance_by_notes', al_id=aluno.al_id, serie=serie) }}">
    <table>
        <tr>
            <th>N° do descritor</th>
            <th>Portguês</th>
            <th>Matematica</th>
        </tr>
        {% for dom in dominios %}
            <tr>
                <td>Descritor {{ loop.index }}</td>
                {% if dom[0] == 1 %}
                    <td>Domina</td>
                {% endif %}
                {% if dom[0] == 0 %}
                    <td>Não domina</td>
                {% endif %}
                {% if dom[1] == 1 %}
                    <td>Domina</td>
                {% endif %}
                {% if dom[1] == 0 %}
                    <td>Não domina</td>
                {% endif %}
            </tr>
            {% endfor %}
    </table>
    <!-- Botão para abrir o modal -->
    <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#modalEdicaoPort">
        Editar Português
    </button>
    <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#modalEdicaoMat">
        Editar Matematica
    </button>
    <!-- Modal Portugues-->
    <div class="modal fade" id="modalEdicaoPort" tabindex="-1" aria-labelledby="modalEdicaoPortLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEdicaoPortLabel">Editar Português</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('edicao_portugues', aluno_id=aluno.al_id) }}" method="POST">
                        
                        {% for i in range(45) %}
                            <div class="mb-3">
                                <label for="descritor{{ i }}" class="form-label">Descritor {{ i+1 }}</label>
                                <select class="form-control" id="descritor{{ i }}" name="descritor{{ i }}" required>
                                    <option value="1" {% if dominios[i][0] == 1 %}selected{% endif %}>Domina</option>
                                    <option value="0" {% if dominios[i][0] == 0 %}selected{% endif %}>Não domina</option>

                                </select>
                            </div>
                        {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Portugues-->
    <div class="modal fade" id="modalEdicaoPort" tabindex="-1" aria-labelledby="modalEdicaoPortLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEdicaoPortLabel">Editar Português</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('edicao_portugues', aluno_id=aluno.al_id) }}" method="POST">
                        
                        {% for i in range(45) %}
                            <div class="mb-3">
                                <label for="descritor{{ i }}" class="form-label">Descritor {{ i+1 }}</label>
                                <select class="form-control" id="descritor{{ i }}" name="descritor{{ i }}" required>
                                    <option value="1" {% if dominios[i][0] == 1 %}selected{% endif %}>Domina</option>
                                    <option value="0" {% if dominios[i][0] == 0 %}selected{% endif %}>Não domina</option>

                                </select>
                            </div>
                        {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div><!-- Modal matematica-->
    <div class="modal fade" id="modalEdicaoMat" tabindex="-1" aria-labelledby="modalEdicaoMatLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEdicaoMatLabel">Editar Matematica</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('edicao_matematica', aluno_id=aluno.al_id) }}" method="POST">
                        
                        {% for i in range(45) %}
                            <div class="mb-3">
                                <label for="descritor{{ i }}" class="form-label">Descritor {{ i+1 }}</label>
                                <select class="form-control" id="descritor{{ i }}" name="descritor{{ i }}" required>
                                    <option value="1" {% if dominios[i][1] == 1 %}selected{% endif %}>Domina</option>
                                    <option value="0" {% if dominios[i][1] == 0 %}selected{% endif %}>Não domina</option>

                                </select>
                            </div>
                        {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form action="{{ url_for('associar_aluno_turma', aluno_id=aluno.al_id)}}" method="POST">
        <label for="associar_aluno_turma">Associar aluno a uma turma</label>
        <select name="associar_aluno_turma" id="associar_aluno_turma" required>
            {% for t in turmas %}
                <option value="{{ t.tur_id }}">{{ t.serie }}° Ano {{ t.letra }}</option>
            {% endfor %}
        </select>
        <button type="submit">Efetuar</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
