<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InsightEdu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <form action="/home/questoes/filtradas" method="post">
        <label for="serie">serie</label>
        <select name="serie" id="serie">
            {% for i in range(1, 10) %}:
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            <option value="todas">Todas</option>
        </select>
        <label for="materia">Materia</label>
        <select name="materia" id="materia">
            <option value="Português">Português</option>
            <option value="Matematica">Matematica</option>
            <option value="Ciencias">Ciencias</option>
            <option value="Historia">Historia</option>
            <option value="Geografia">Geografia</option>
            <option value="todas">Todas</option>
        </select>
        <label for="assunto">Assunto</label>
        <input type="text" name="assunto" id="assunto">
        <button type="submit">Pesquisar</button>
    </form>

    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCadastroQuestao">Adicionar Questão</button>

    <div class="modal fade" id="modalCadastroQuestao" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/cadastro/questao" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Cadastrar Nova Questão</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="enunciado" class="form-label">Enunciado</label>
                            <input type="text" class="form-control" id="enunciado" name="enunciado" required>
                        </div>
                        <div class="mb-3">
                            <select name="serie" id="serie">
                                {% for i in range(1, 10) %}:
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                <option value="todas">Todas</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select name="materia" id="materia" required>
                                <option value="Português">Português</option>
                                <option value="Matematica">Matematica</option>
                                <option value="Ciencias">Ciencias</option>
                                <option value="Historia">Historia</option>
                                <option value="Geografia">Geografia</option>
                                <option value="todas">Todas</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="assunto" class="form-label">Assunto</label>
                            <input type="text" class="form-control" id="letra" name="assunto" required>
                        </div>
                        <div class="mb-3">
                            <label for="resposta" class="form-label">Resposta</label>
                            <input type="text" class="form-control" id="resposta" name="resposta" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <ul>
        {% for question in questions %}
        <li>
            <h2>{{ question.serie }} ano - {{ question.materia }} - {{ question.assunto }}</h2>
            <p>{{ question.enunciado }}</p>
            <p>Resposta: {{ question.resposta }}</p>
        </li>
        {% endfor %}
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>