<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turmas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #2a7eba;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="logo-insightedu" style="width: 50px; border-radius: 10px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: white" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: white" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white" href="/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white" href="/contato">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    <hr>
    <div>    
        <h1><span class="badge text-bg-secondary" style="border-top-left-radius: 0px; border-top-right-radius: 15px; border-bottom-left-radius: 0px; border-bottom-right-radius: 15px; width: 300px">Turmas</span></h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if user_type == 'gestor' %}
        <!-- Botão para abrir o modal -->
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCadastroTurma" style="margin-left: 70px;">Cadastrar Turma</button>
        
        <!-- Modal de Cadastro -->
        <div class="modal fade" id="modalCadastroTurma" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{ url_for('cadastro_turma') }}" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Cadastrar Nova Turma</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="serie" class="form-label">Série</label>
                                <input type="text" class="form-control" id="serie" name="serie" required>
                            </div>
                            <div class="mb-3">
                                <label for="letra" class="form-label">Letra</label>
                                <input type="text" class="form-control" id="letra" name="letra" required>
                            </div>
                            <div class="mb-3">
                                <label for="prof-portugues" class="form-label">Professor de Português</label>
                                <select id="prof-portugues" name="prof-portugues" required>
                                    {% for prof in professores %}
                                        <option value="{{ prof.prof_id }}">{{ prof.nome }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="prof-matematica" class="form-label">Professor de Matematica</label>
                                <select id="prof-matematica" name="prof-matematica" required>
                                    {% for prof in professores %}
                                        <option value="{{ prof.prof_id }}">{{ prof.nome }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="prof-ciencias" class="form-label">Professor de Ciências</label>
                                <select id="prof-ciencias" name="prof-ciencias" required>
                                    {% for prof in professores %}
                                        <option value="{{ prof.prof_id }}">{{ prof.nome }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="prof-historia" class="form-label">Professor de Historia</label>
                                <select id="prof-historia" name="prof-historia" required>
                                    {% for prof in professores %}
                                        <option value="{{ prof.prof_id }}">{{ prof.nome }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="prof-geografia" class="form-label">Professor de Geografia</label>
                                <select id="prof-geografia" name="prof-geografia" required>
                                    {% for prof in professores %}
                                        <option value="{{ prof.prof_id }}">{{ prof.nome }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    
    <div class="container mt-5">

        <div class="d-flex flex-wrap justify-content-center">

            {% for turma in turmas %}
            <div class="card text-center mx-2 mb-4" style="width: 18rem; border-radius: 22px">
                <div class="card-body">
                    <h2 class="badge text-bg-secondary rounded-pill card-title" style="font-size: medium; width: 100px">{{ turma.serie }}° ano {{ turma.letra}}</h2>
                    {% if turma.media >= 7 %}
                        <p class="card-text" style="color: rgb(34, 235, 12)">Média de desempenho: {{ turma.media | round(2) }}</p>
                    {% else %}
                        <p class="card-text" style="color: rgb(235, 12, 12)">Média de desempenho: {{ turma.media | round(2) }}</p>
                    {% endif %}
                    
                    <a href="{{ url_for('lista_alunos', turma_id=turma.tur_id)}}" class="btn btn-primary">Listar alunos</a>
                </div>
            </div>
            {% endfor %}

        
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>